.projectImg{
    display: flex;
    width: 400px;
    height: auto;
    border-radius: 5px 5px 5px 0px; 
    border: solid white 4px;
}
.containerProject{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 20px;
    min-width: 400px;
    align-items: center;
}
.Project{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
@media (max-width: 730px) {
    .Project{
        width: min-content;
        flex-direction: column;
    }
}
@media (max-width: 417px) {
    .Project{
        align-items: center;
    }
    .projectImg{
        width: 350px;
    }
}