@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  font-family: 'Outfit';
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
body{
  background: linear-gradient(180deg, rgb(0, 17, 78) 0%, rgb(0, 30, 137) 15%, rgb(0, 17, 78) 68%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}