.containerProfile{
    position: relative;
    display: flex;
}
.profile{
    z-index: 99999;
    width: 300px;
    object-fit: cover;
    height: 300px;
    border-radius: 10px;
}
.rotateDiv{
    position: absolute;
    border: 3px white solid;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    top: 0;
    transform: rotate(5deg); 
}
@media (max-width: 417px) {
    .profile{
        width: 250px;
    }
    .rotateDiv{
        width: 250px;
        height: 250px;
    }
}